- if theme_collection.empty?
  .alert Please create a theme first

= form_for [:admin, :manage, resource] do |f|
  .large-title
    = f.label :name
    = f.text_field :name
  %ol.fields
    %li
      = f.label :domain
      = f.text_field :domain
    - unless theme_collection.empty?
      %li
        = f.label :theme_id
        = f.select :theme_id, options_from_collection_for_select(theme_collection, :id, :name)
  .actions
    = link_to 'Cancel', '#cancel', :class => 'cancel'
    - unless theme_collection.empty?
      = f.submit

